@-webkit-keyframes shineBlue {
	from {
		-webkit-box-shadow: 0 0 20px #66C;
	}
	50% {
		-webkit-box-shadow: 0 0 20px #EEEEFF;
	}
	to {
		-webkit-box-shadow: 0 0 20px #66C;
	}
}


.shine_blue {
	opacity: 0.7;
	-webkit-box-shadow: 0 0 15px rgba(0,0,255,0.5);
	border: 15px;
	-webkit-border-radius:15px;
}

.shine_blue:hover {
	opacity: 1;
	-webkit-animation-name: shineBlue;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}