
@font-face {

	font-family: 'Monoton';

	font-style: normal;

	font-weight: 400;

	src: local('Monoton'), local('Monoton-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');

}

@font-face {

	font-family: 'Iceland';

	font-style: normal;

	font-weight: 400;

	src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');

}

@font-face {

	font-family: 'Pacifico';

	font-style: normal;

	font-weight: 400;

	src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');

}

@font-face {

	font-family: 'PressStart';

	font-style: normal;

	font-weight: 400;

	src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');

}

@font-face {

	font-family: 'Audiowide';

	font-style: normal;

	font-weight: 400;

	src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');

}

@font-face {

	font-family: 'Vampiro One';

	font-style: normal;

	font-weight: 400;

	src: local('Vampiro One'), local('VampiroOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/vampiroone/v3/Ho2Xld8UbQyBA8XLxF1_NYbN6UDyHWBl620a-IRfuBk.woff) format('woff');

}

#container {

	width: 500px;

	margin: auto;

}

/*neeeeoooon*/

#neonword {

	text-decoration: none;

	-webkit-transition: all 0.5s;

	-moz-transition: all 0.5s;

	transition: all 0.5s;

}

.redword {

	color: #FF1177;

	font-family: Monoton;

}

.redword:hover {

	-webkit-animation: neon1 1.5s ease-in-out infinite alternate;

	-moz-animation: neon1 1.5s ease-in-out infinite alternate;

	animation: neon1 1.5s ease-in-out infinite alternate;

}

.orangeword2 {

	color: #FF9911;

	-webkit-animation: neon5 1.5s ease-in-out infinite alternate;

	-moz-animation: neon5 1.5s ease-in-out infinite alternate;

	animation: neon5 1.5s ease-in-out infinite alternate;

}

.whiteword2 {

	color: #EFEFEF;

	-webkit-animation: neon7 1.5s ease-in-out infinite alternate;

	-moz-animation: neon7 1.5s ease-in-out infinite alternate;

	animation: neon7 1.5s ease-in-out infinite alternate;

}

.blueword {

	font-size: 1.5em;

	color: #228DFF;

	font-family: Iceland;

}

.blueword:hover {

	-webkit-animation: neon2 1.5s ease-in-out infinite alternate;

	-moz-animation: neon2 1.5s ease-in-out infinite alternate;

	animation: neon2 1.5s ease-in-out infinite alternate;

}

.blueword2 {

	color: #668DFF;

	-webkit-animation: neon2 1.5s ease-in-out infinite alternate;

	-moz-animation: neon2 1.5s ease-in-out infinite alternate;

	animation: neon2 1.5s ease-in-out infinite alternate;

}

/*.blueword2:hover{
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}*/

.yellowword {

	color: #FFDD1B;

	font-family: Pacifico;

}

.yellowword:hover {

	-webkit-animation: neon3 1.5s ease-in-out infinite alternate;

	-moz-animation: neon3 1.5s ease-in-out infinite alternate;

	animation: neon3 1.5s ease-in-out infinite alternate;

}

.greenword {

	color: #B6FF00;

	font-family: PressStart;

	font-size: 0.8em;

}

.greenword:hover {

	-webkit-animation: neon4 1.5s ease-in-out infinite alternate;

	-moz-animation: neon4 1.5s ease-in-out infinite alternate;

	animation: neon4 1.5s ease-in-out infinite alternate;

}
.greenword2 {

	color: #34FF67;

	-webkit-animation: neon4 1.5s ease-in-out infinite alternate;

	-moz-animation: neon4 1.5s ease-in-out infinite alternate;

	animation: neon4 1.5s ease-in-out infinite alternate;

}

.orangeword {

	color: #FF9900;

	font-family: Audiowide;

}

.orangeword:hover {

	-webkit-animation: neon5 1.5s ease-in-out infinite alternate;

	-moz-animation: neon5 1.5s ease-in-out infinite alternate;

	animation: neon5 1.5s ease-in-out infinite alternate;

}

.purpleword {

	color: #BA01FF;

	font-family: Vampiro One;

}

.purpleword:hover {

	-webkit-animation: neon6 1.5s ease-in-out infinite alternate;

	-moz-animation: neon6 1.5s ease-in-out infinite alternate;

	animation: neon6 1.5s ease-in-out infinite alternate;

}

#neonword:hover {

	color: #ffffff;

}

/*glow for webkit*/

@-webkit-keyframes neon1 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF7733, 0 0 70px #FF7733, 0 0 80px #FF7733, 0 0 100px #FF7733, 0 0 150px #FF7733;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF7733, 0 0 35px #FF7733, 0 0 40px #FF7733, 0 0 50px #FF7733, 0 0 75px #FF7733;

	}

}

@-webkit-keyframes neon2 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;

	}

}

@-webkit-keyframes neon3 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;

	}

}

@-webkit-keyframes neon4 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #dfd, 0 0 30px #bfb, 0 0 40px #9f9, 0 0 70px #7f7, 0 0 80px #5f5, 0 0 100px #3f3, 0 0 150px #1f1;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #efe, 0 0 15px #dfd, 0 0 20px #cfc, 0 0 35px #bfb, 0 0 40px #afa, 0 0 50px #9f9, 0 0 75px #8f8;

	}

}

@-webkit-keyframes neon5 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;

	}

}

@-webkit-keyframes neon6 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;

	}

}

@-webkit-keyframes neon7 {

	from {

		text-shadow: 0 0 10px #CCC, 0 0 20px #BBB, 0 0 30px #AAA, 0 0 40px #999, 0 0 70px #888, 0 0 80px #777, 0 0 100px #666, 0 0 150px #555;

	}

	to {

		text-shadow: 0 0 5px #CCC, 0 0 10px #BBB, 0 0 15px #AAA, 0 0 20px #999, 0 0 35px #888, 0 0 40px #777, 0 0 50px #666, 0 0 75px #555;

	}

}

/*glow for mozilla*/

@-moz-keyframes neon1 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;

	}

}

@-moz-keyframes neon2 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;

	}

}

@-moz-keyframes neon3 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;

	}

}

@-moz-keyframes neon4 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;

	}

}

@-moz-keyframes neon5 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;

	}

}

@-moz-keyframes neon6 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;

	}

}

/*glow*/

@keyframes neon1 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;

	}

}

@keyframes neon2 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;

	}

}

@keyframes neon3 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;

	}

}

@keyframes neon4 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;

	}

}

@keyframes neon5 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;

	}

}

@keyframes neon6 {

	from {

		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

	}

	to {

		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;

	}

}

/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {

	#container {

		width: 100%;

	}

	p {

		font-size: 3.5em;

	}

}