
	/* 设置滚动条的样式 */

	::-webkit-scrollbar {

		width: 16px;

	}

	/* 滚动槽 */

	::-webkit-scrollbar-track {

		-webkit-box-shadow: inset 0 0 6px rgba(250, 170, 80, 0.6);

		border-radius: 16px;

	}

	/* 滚动条滑块 */

	::-webkit-scrollbar-thumb {

		border-radius: 12px;

		background: rgba(250, 120, 0, 0.2);

		-webkit-box-shadow: inset 0 0 6px rgba(255, 150, 0, 0.5);

	}

	::-webkit-scrollbar-thumb:window-inactive {

		background: rgba(255, 0, 0, 0.5);

	}

	