.Three-Dee {
	color: #5555ff;
	font-size:40px;
	text-shadow: 0px 0px 0 rgb(152, -21, 152), 1px -1px 0 rgb(137, -36, 137), 2px -2px 0 rgb(123, -50, 123), 3px -3px 0 rgb(108, -65, 108), 4px -4px 0 rgb(94, -79, 94), 5px -5px 0 rgb(79, -94, 79), 6px -6px 0 rgb(65, -108, 65), 7px -7px 6px rgba(0, 0, 0, 0.9), 7px -7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, .2);
}