.drag {
	position: absolute;
	width: 120px;
	height: 120px;
	cursor: pointer;
	position: absolute;
	left: 10px;
	top: 80%;
	background-image: url(../img/cubi.png);
	background-size: cover;
	cursor: url('../../images/cur/pointer.cur'),pointer;
}
.textBubble {
	pointer-events: none;
	position: absolute;
	width: 210px;
	height: 150px;
	cursor: pointer;
	left: 8%;
	top: -75%;
	position: absolute;
	background-image: url(../img/bubble.png);
	background-size: cover;
	cursor: url('../../images/cur/index.cur'),default;
}
.textLine {
	pointer-events: none;
	text-align: center;
	position: relative;
	font-family: "微软雅黑";
	color: #0000aa;
	height: 20px;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: url('../../images/cur/write.cur'),default;
}