pre .str, code .str { color: #fff; } /* string */
pre .kwd, code .kwd { color: #FFFF00; } /* keyword */
pre .com, code .com { color: #44FF44; } /* comment */
pre .typ, code .typ { color: #3494ce; } /* type */
pre .lit, code .lit { color: #88ff55; } /* literal */
pre .pun, code .pun { color: #888888; } /* punctuation */
pre .pln, code .pln { color: #eee; } /* plaintext */
pre .dec, code .dec { color: #AAAAFF; } /* decimal */



pre.prettyprint, code.prettyprint {
	background-color: rgba(255,255,100,0.1);
	font-family: 'inconsolata';
}
