.DragonH1 {
    color: #eeeeee;
}

.DragonDiscription {
    color: #eeeeee;
    font-size: 16px;
}

.DragonHr {
    color: rgba(200, 200, 200, 0.5);
    margin: 0 auto 20px;
    border: 1px solid rgba(200, 200, 255, 0.5);
    height: 1px;
}